# Local Hadoop outputs (keep folder placeholders)
HadoopWordCount_Output_AA/**
!HadoopWordCount_Output_AA/.gitignore
HadoopWordPairs_Output_AA/**
!HadoopWordPairs_Output_AA/.gitignore
HadoopWordStripes_Output_AA/**
!HadoopWordStripes_Output_AA/.gitignore
HadoopPartB_Output_*/**
!HadoopPartB_Output_*/.gitignore
