.vscode/
.metals/

# OS noise
.DS_Store
Thumbs.db

# Java artifacts
*.class
*.jar

# Java/runtime logs
*.log
hs_err_pid*
replay_pid*

# Optional build dirs
out/
build/
target/

# Large dataset directory
Wikipedia-En-41784-Articles/**
!Wikipedia-En-41784-Articles/.gitignore
